/* Coolors Exported Palette - coolors.co/415350-aaa89c-fefefd-3f5d77-a35279 */

/* HSL */
$color1: hsla(170%, 12%, 29%, 1);
$color2: hsla(51%, 8%, 64%, 1);
$color3: hsla(60%, 33%, 99%, 1);
$color4: hsla(208%, 31%, 36%, 1);
$color5: hsla(331%, 33%, 48%, 1);

/* RGB */
$color1: rgba(65, 83, 80, 1);
$color2: rgba(170, 168, 156, 1);
$color3: rgba(254, 254, 253, 1);
$color4: rgba(63, 93, 119, 1);
$color5: rgba(163, 82, 121, 1);